<!DOCTYPE html>
<html>
  <head>
    <title>Dinding Kreatif</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'template/navigation'%>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'template/footer%>
  </body>
</html>
